li:hover {
    background-color: #77C4D3 !important;
}

body{
    color: #EA2E49;
    font-family: 'Roboto', sans-serif;
}

.jumbotron,li,.card,.form-control {
    background-color: #DAEDE2 !important;
}