li:hover {
    background-color: black;
    color: yellow;
}

body {
    font-family: 'Roboto', sans-serif;
}

.jumbotron {
    background-color: black;
    color: yellow;
}

.card h1 {
    margin: 1% 2% 0 2%;
}